PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ocr_cedulas?schema=public"

# JWT
JWT_SECRET="sena_super_secret_jwt_access_token_key_2026"
JWT_REFRESH_SECRET="sena_super_secret_jwt_refresh_token_key_2026"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Redis / BullMQ
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD=""


# Nodemailer / SMTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="notificaciones.sena@gmail.com"
SMTP_PASS="tu_app_password"
ADMIN_EMAIL="admin@sena.edu.co"
